apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rerun
resources:
  - namespace.yaml
  - deployment.yaml
  - ingress.yaml
images:
  - name: registry.code.wabo.run/ai/rerun-nova/rerun-nova
    newTag: 0.0.1
