# The endpoint where the API is reachable from the container serving the Application.
NOVA_API="http://api-gateway.wandelbots.svc.cluster.local:8080"
# The name of the cell to be used for the Application.
CELL_NAME="cell"

# Using username/password authentication
NOVA_USERNAME="my_username"
NOVA_PASSWORD="my_password"
# NOVA_ACCESS_TOKEN="" # Leave empty if not using token-based authentication

# Using token-based authentication (comment out username/password lines)
# NOVA_ACCESS_TOKEN="eyJhbGciOi..."
