apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nova-rerun-bridge
resources:
  - namespace.yaml
  - deployment.yaml
  - ingress.yaml
images:
  - name: registry.code.wabo.run/ai/nova-rerun-bridge/nova-rerun-bridge
    newTag: 0.0.1
