.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.jsonce
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
app/**
!app/build/**

!node_modules/ws/**
!node_modules/.pnpm/**/node_modules/ws/**
