.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
vitest.config.ts
**/*.test.ts
app/**
!app/dist/**
#! Ensure the logo is available for README/marketplace and other uses
!app/public/**
